


  <div id="foot" class="foot noprint">
      <footer>
        <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4268286.js"></script>
        <!-- End of HubSpot Embed Code -->


          <div class="links">
            <div class="container">

              <div class="row">
                <div class="col-sm-5">

                  <ul id="lang-select" class="menu pad0 langs">
                    <li><a href="/"><img src="/img/en.png" alt="" width="23" height="17"> English</a></li>
                    <!--<li><a href="/jp/"><img src="/img/jp.png" alt="Japanese" width="23" height="17"> 日本語</a></li>-->
                    <li><a href="{{ site.baseurl }}/introduction/cn"><img src="/img/cn.png" alt="Chinese" width="23" height="17"> 中文</a></li>
                    <!--<li><a href="/kr/"><img src="/img/kr.png" alt="Korean" width="23" height="17"> 한국어</a></li>-->
                    <!--<li><a href="/ru/"><img src="/img/ru.png" alt="Russian" width="23" height="17"> Русский</a></li>-->
                  </ul>
                  <br>

                    {% if page.language == "en" %}
                    <p><a href="https://opensource.org/licenses/MIT" target="_blank">Cardano is an open-source project.</a></p>

                    <p>Cardano is a software platform ONLY and does not conduct any independent diligence on, or substantive review of, any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own judgment, and for all your decisions as to whether to exchange blockchain assets with Cardano. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may fall or rise in value after your exchange.</p>

                    <p>Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.</p>
                    <br>
                    <p><a href="https://cardanofoundation.org/project/"><small>The Project</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/protocol/"><small>The Protocol</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/foundation/"><small>The Foundation</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/learn-more/"><small>Learn More</small></a></p>

                    {% elsif page.language == "cn" %}

                     <p><a href="https://opensource.org/licenses/MIT" target="_blank">卡尔达诺是一个开源项目</a></p>

                    <p>卡尔达诺只是一个软件平台，不对任何区块链资产、加密货币、密码学或相关资金进行任何独立的稽查或实质审查。您本人需要完全独立和全权负责评估您的投资，并且确认您是否将根据您自身的评估进行区块链资产的交易，以及决定所有关于是否对卡尔达诺进行区块链资产投资的交易。在许多情况下，依据您本身所研究的结果进行区块链资产交易时，该资产可能不会增值，同时有可能贬值。同样地，根据您本身的研究结果进行区块链资产的交易后，该资产亦可能增值。</p>

                    <p>过往的市场表现并无法预测显示未来市场的走向。任何区块链资产的投资都涉及一部分或全盘的投资损失风险。您所交易的区块链资产的价值亦将受到市场和其他投资风险所影响。</p>

                    <br>
                    <p><a href="https://cardanofoundation.org/project/"><small>项目</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/protocol/"><small>协议</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/foundation/"><small>基金会</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/learn-more/"><small>学习更多</small></a></p>


                    {% elsif page.language == "kr" %}

                     <p><a href="https://opensource.org/licenses/MIT" target="_blank">카르다노는 오픈소스 프로젝트입니다.</a></p>

                    <p>카르다노는 오직 소프트웨어 플랫폼일 뿐이며, 어떤 블록체인 자산, 디지털 화폐, 암호화폐 또는 관련 자금에 대해 어떠한 독립적인 실사 또는 실질적인 리뷰를 수행하지 않습니다. 귀하는 귀하의 투자에 대한 가치 평가, 자신이 소유하고 있는 블록체인 자산을 거래할 것인지에 대한 결정, 귀하의 자산을 카르다노와 관련된 블록체인 자산과 거래할 것인지 결정하는 데에 유일하게 모든 책임을 가집니다. 많은 경우 귀하의 조사에 의거한 귀하의 거래는 가치가 오르지 않을 수 있고, 가치가 내려갈 수도 있습니다. 마찬가지로 귀하의 조사의 의거하여 귀하가 거래한 자산은 거래 후 가치가 올라갈 수도 있습니다.</p>

                    <p>과거의 실적이 미래의 결과를 알려주지는 않습니다. 블록체인 자산에 대한 모든 투자는 귀하의 투자금의 부분 또는 모두를 잃을 수 있는 위험을 가지고 있습니다. 귀하가 거래하는 블록체인 자산의 가치는 시장과 기타 투자 위험요소들에 달려 있습니다.</p>
                    <br>
                    <p><a href="https://cardanofoundation.org/project/"><small>프로젝트 </small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/protocol/"><small>프로토콜</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/foundation/"><small>재단</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/learn-more/"><small>더 알아보기</small></a></p>

                    {% elsif page.language == "jp" %}

                     <p><a href="https://opensource.org/licenses/MIT" target="_blank">カルダノはオープンソースプロジェクトです</a></p>

                    <p>カルダノは、ソフトウェアプラットフォームのみであり、ブロックチェーン資産、デジタル通貨、暗号通貨またはそれに関連する各資金の精査や実質的なレビューは一切行いません。あなたは自身の投資評価、ブロックチェーン資産を交換するかどうかの決定、ブロックチェーン資産をカルダノと交換の如何に関して、完全かつ唯一の責任があります。多くの場合、あなたの調査に基づいて交換するブロックチェーン資産は価値が上がらず、下がる可能性があります。同様に、調査を基に交換するブロックチェーン資産は、交換後に価値が上がる可能性もあります。</p>

                    <p>過去の業績は必ずしも将来の結果を 暗 示す るものではありません。ブロックチェーン資産への投資には、投資の一部または全てが失われるリスクが伴います。換金するブロックチェーン資産の価値は、市場リスクおよびその他の投資リスクの対象となります。</p>
                    <br>
                    <p><a href="https://cardanofoundation.org/project/"><small>プロジェクト</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/protocol/"><small>プロトコル</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/foundation/"><small>財団</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/learn-more/"><small>詳しく知る</small></a></p>


                    {% elsif page.language == "ru" %}

                     <p><a href="https://opensource.org/licenses/MIT" target="_blank">Cardano — проект с открытым исходным кодом.</a></p>

                    <p>Cardano является ИСКЛЮЧИТЕЛЬНО программной платформой и не осуществляет существенного пересмотра или независимой деятельности в отношении каких-либо валют в блокчейнах (распределенных базах данных), цифровых валют, криптовалют или ассоциированных фондов. Вы и только вы несете ответственность за оценку ваших инвестиций, решения об обмене средств в блокчейнах, а также решение об обмене валют в блокчейнах с использованием Cardano. Во многих случаях ценность валют, которые вы приобрели на основании собственных решений, не растет, а иногда и падает.</p>

                    <p>Естественно, валюты в блокчейнах, которые вы обменяли на другие, могут вырасти уже после совершения обменной операции. Данные о прошлых курсах валют не являются показательными при оценке курса валют в будущем. Любая инвестиция в валюты в блокчейнах включает риск потерять часть инвестируемых средств или все инвестируемые средства полностью. Ценность валют в блокчейнах, которые вы приобретаете, подвержена рыночным и другим инвестиционным рискам.</p>
                    <br>
                    <p><a href="https://cardanofoundation.org/project/"><small>The Project</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/protocol/"><small>The Protocol</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/foundation/"><small>The Foundation</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/learn-more/"><small>Learn More</small></a></p>

                    {% endif %}

                </div>

                <div class="col-md-6 col-sm-6 col-md-offset-1">

                  <div class="more">

                      <a href="//twitter.com/cardanostiftung" target="_blank"><em class="fa fa-twitter"></em></a>
                      <a href="mailto:info@cardano.org" class="" data-title="Why Cardano"><em class="fa fa-envelope"></em></a>
                      <a href="//github.com/input-output-hk/cardano-sl/" target="_blank"><em class="fa fa-github"></em></a>

                    </div>

                    {% if page.language == "en" %}

                  <div class="col-sm-6">
                  <p><b>More about Cardano</b></p>
                  <ul class="nolist pd0 margin0">
                    <li><a href="https://cardanoexplorer.com" title="An open source block explorer for the Cardano project" target="_blank">Cardano Explorer</a></li>
                    <li><a href="https://cardanodocs.com" title="Full technical documentation of the project" target="_blank">Documentation</a></li>
                    <li><a href="https://cardanoroadmap.com" title="Development path of the Cardano project" target="_blank">Cardano Roadmap</a></li>
                    <li><a href="https://github.com/input-output-hk/cardano-sl" title="Cardano SL repository" target="_blank">Cardano SL Source</a></li>
                    <li><a href="https://cardanofoundation.org" title="Supervisory and educational body for the Cardano Protocol" target="_blank">Cardano Foundation</a></li>
                    <li><a href="https://www.cardano.org/en/home/" title="Cardano Hub" target="_blank">Cardano.org</a></li>
                    <li><a href="https://daedaluswallet.io" title="Open source platform" target="_blank">Daedalus</a></li>
                    <li><a href="https://staking.cardano.org" title="Cardano Staking" target="_blank">Cardano Staking</a></li>
                    <li><a href="https://testnet.iohkdev.io" title="Cardano Testnets" target="_blank">Cardano Testnets</a></li>
                    <li><a href="https://cardanorust.iohkdev.io" title="Cardano Rust" target="_blank">Cardano Rust</a></li>
                    <li><a href="https://whycardano.com" title="Why Cardano" target="_blank">Why Cardano</a></li>
                  </ul>
                </div>

                <div class="col-sm-6">
                  <p><b>Join the community</b></p>
                  <ul class="nolist pd0 margin0">
                    <li><a href="http://cardano.org" title="Community hub for the ecosystem" target="_blank">Cardano Community</a></li>
                    <li><a href="https://t.me/CardanoAnnouncements" title="Join the conversation" target="_blank">Cardano Telegram</a></li>
                    <li><a href="https://forum.cardano.org/" title="Join the conversation" target="_blank">Cardano Forum</a></li>
                    <li><a href="https://www.reddit.com/r/cardano/" title="Join the conversation" target="_blank">Cardano Reddit </a></li>
                    <li><a href="https://iohk.io" title="Development partner" target="_blank">IOHK</a></li>
                    <li><a href="https://iohk.io/blog/" target="_blank">IOHK blog</a></li>
                    <li><a href="https://www.youtube.com/channel/UCBJ0p9aCW-W82TwNM-z3V2w" target="_blank">IOHK YouTube</a></li>
                    <li><a href="https://twitter.com/CardanoStiftung" title="Cardano Foundation on Twitter" target="_blank">Cardano Foundation Twitter</a></li>
                  </ul>
                </div>

                {% elsif page.language == "cn" %}

                <div class="col-sm-6">
                  <p><b>关于卡尔达诺的更多信息</b></p>
                  <ul class="nolist pd0 margin0">
                    <li><a href="https://cardanoexplorer.com" title="An open source block explorer for the Cardano project" target="_blank">卡尔达诺区块链浏览器</a></li>
                    <li><a href="https://cardanofoundation.org" title="Supervisory and educational body for the Cardano Protocol" target="_blank">卡尔达诺基金会</a></li>
                    <li><a href="https://cardanodocs.com" title="Full technical documentation of the project" target="_blank">文档</a></li>
                    <li><a href="https://github.com/input-output-hk/cardano-sl" title="Cardano SL repository" target="_blank">卡尔达诺结算层源代码</a></li>
                    <li><a href="https://cardanoroadmap.com" title="Development path of the Cardano project" target="_blank">卡尔达诺路线图</a></li>
                    <li><a href="https://www.cardano.org" title="Cardano Hub" target="_blank">Cardano.org</a></li>
                    <li><a href="https://daedaluswallet.io" title="Open source platform" target="_blank">代达罗斯钱包</a></li>
                    <li><a href="https://whycardano.com" title="Why Cardano" target="_blank">为什么选择卡尔达诺</a></li>
                    <li><a href="https://testnet.iohkdev.io" title="Cardano Testnets" target="_blank">卡尔达诺测试网</a></li>
                    <li><a href="https://cardanorust.iohkdev.io" title="Cardano Rust">卡尔达诺 Rust 项目</a></li>

                    <li><a href="https://staking.cardano.org" title="Cardano Staking" target="_blank">卡尔达诺权益</a></li>
                  </ul>
                </div>

                <div class="col-sm-6">
                  <p><b>加入社区</b></p>
                  <ul class="nolist pd0 margin0">
                    <li><a href="http://cardano.org" title="Community hub for the ecosystem" target="_blank">卡尔达诺社区</a></li>
                    <li><a href="https://t.me/CardanoAnnouncements" title="Join the conversation" target="_blank">卡尔达诺电报</a></li>
                    <li><a href="https://forum.cardano.org/" title="Join the conversation" target="_blank">卡尔达诺论坛</a></li>
                    <li><a href="https://www.reddit.com/r/cardano/" title="Join the conversation" target="_blank">卡尔达诺 Reddit</a></li> 
                    <li><a href="https://iohk.io" title="Development partner" target="_blank">IOHK</a></li>
                    <li><a href="https://iohk.io/blog/" target="_blank">IOHK博客</a></li>
                    <li><a href="https://www.youtube.com/channel/UCBJ0p9aCW-W82TwNM-z3V2w" target="_blank">卡尔达诺油管视频</a></li>
                    <li><a href="https://twitter.com/CardanoStiftung" title="Cardano Foundation on Twitter" target="_blank">卡尔达诺基金会推特</a></li>
                  </ul>
                </div>



              {% endif %}



              </div>

              </div>


            </div>
          </div>


          <hr />

          <div class="container">

            <div class="footer">
                    <div class="row">
                    <div class="col-sm-12 logo">



                      <div class="uppercase">


                        <a href="//iohk.io/projects/cardano/" target="_blank" class="cardano"><img src="/img/cardano-logo.svg" width="103.5" height="30" alt="Cardano" /></a>

                        <span class="split"></span>

                        <a href="//iohk.io/projects/cardano/" target="_blank" class="support">IOHK-supported project</a>
                        <a href="//iohk.io/" target="_blank" class="iohk"><img src="/img/iohk-logo.svg" alt="" width="138.4" height="30" /></a>

                      </div>



                    </div>

                  </div>
                </div>


          </div>
      </footer>
  </div>

  <script type="text/javascript" src="/js/app/app.js"></script>
  <script type="text/javascript" src="/js/app/base.1.js"></script>
  <script type="text/javascript" src="/js/app/searcher.js"></script>

<!-- Include Modernizer for HS tracking rewrite -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4268286.js"></script>
<!-- End of HubSpot Embed Code -->

  <script>

  $(".navbar-side li").each(function(){
    var txt = $(this).text().trim();
    if(txt.length == 0){
      $(this).remove();
    }
  });

  </script>


