<div class="modal fade" id="myModal">
  <div class='modal-dialog'>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Attention</h3>
    </div>
    <div class="modal-body">
      <p>Please be aware that large parts of this documentation are currently out of date, and should be used with care.</p>
      <p>We are working on updating this documentation as quickly as possible. Thank you for your patience.</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
  </div>
</div>