<ul>


                      {% for anchor in include.item.anchors %}
                      <li><a class="nosearch" href="{{include.item.permalink}}#{{anchor[1]}}">{{anchor[0]}}</a></li>

                      {% endfor %}


                      {% for subdoc in site.pages %}
                      {% if subdoc.visible != false %}
                      {% if subdoc.title != '' %}
                      {% if subdoc.group == include.item.children %}


                      <li>
                        {% if subdoc.permalink %}
                        <a href="{{subdoc.permalink}}">{{subdoc.title}}</a>
                        {% else %}
                        <span>{{subdoc.title}}</span>
                        {% endif %}
                        {% include nav-subsubmenu.html item=subdoc %}
                      </li>

                      {% endif %}
                      {% endif %}
                      {% endif %}
                      {% endfor %}

</ul>
