<ul>


                      {% for subsubdoc in site.pages %}
                      {% if subsubdoc.visible != false %}
                      {% if subsubdoc.title != '' %}
                      {% if subsubdoc.group == include.item.children %}

                      <li>
                        {% if subsubdoc.permalink %}
                        <a href="{{subsubdoc.permalink}}">{{subsubdoc.title}}</a>
                        {% else %}
                        <span>{{subsubdoc.title}}</span>
                        {% endif %}
                      </li>

                      {% endif %}
                      {% endif %}
                      {% endif %}
                      {% endfor %}

</ul>
