---
layout: page-home
---
<html>

  {% include head.html %}

  <body>

    {% include header.html %}




      <div class="container">
          <!-- left, vertical navbar & content -->
          <div class="row">
              <!-- left, vertical navbar -->
              <div class="col-md-3 col-sm-4 col-left">




                	<ul class="nav navbar-collapse collapse navbar-side" id="cardano-nav">

          {% for doc in site.pages %}
                                      <li><a href="{{doc.permalink}}">{{doc.title}}</a></li>
                                                        {% endfor %}



                  </ul>

              </div>

              <!-- content -->
              <div class="col-md-9 col-sm-8">


                  <div class="main" role="main">
                    {{content}}

                  </div>
              </div>
              <!-- end content -->
          </div>

      </div>



    {% include footer.html %}

  </body>

</html>
