---
layout: search
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}




      <div class="container">
          <!-- left, vertical navbar & content -->
          <div class="row">
              <!-- left, vertical navbar -->
              <div class="col-md-3 col-sm-4 col-left">

                	<ul class="nav navbar-collapse collapse navbar-side" id="cardano-nav">


                                        {% for doc in site.pages %}
                                        {% if doc.visible != false %}
                                        {% if doc.title != '' %}
                                        {% if doc.group == 'base' %}

                                        <li>
                                          {% if doc.permalink %}
                                          <a id="id-{{doc.id}}" href="{{doc.permalink}}">{{doc.title}}</a>
                                          {% else %}
                                          <span>{{doc.title}}</span>
                                          {% endif %}
                                          {% include nav-submenu.html item=doc %}
                                        </li>

                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}

                  </ul>

              </div>

              <!-- content -->
              <div class="col-md-9 col-sm-8">


                                  <div class="searching" id="searching"></div>


                                                    <div class="main" id="main">


                                                    </div>



              </div>
              <!-- end content -->
          </div>

      </div>





          <script>


          </script>


          <style>


          </style>












    {% include footer.html %}

  </body>

</html>
