html {  background:#111}
body{background:#fff;color:#555;padding-top:0px;}

a{color:#007FCF;}


h1,h2,h3,h4,h5,h6{	font-family: 'Montserrat', sans-serif;color:#444}
h1{letter-spacing:-.02em;margin:0 0 .5em 0;color:#000;line-height:1;border-bottom:10px solid #eee;padding:0 0 .45em 0}
@media (min-width:990px){
  h1{font-size:350%;letter-spacing:-.04em;}
}


a{outline: 0 !important;}
hr{border-color: #222}

.navbar {background:#0A0E17 url('http://static.iohk.io/cardano/images/cardano-bg.jpg') center ;margin:0;border-radius: 0 ;background-size:cover;   background-repeat: no-repeat;color:#aaa;	font-weight:200;letter-spacing: 0.05em}
.navbar-brand {padding: 12px 15px;font-size: 11px;line-height:20px;font-weight:400}
.navbar-brand img{margin:-7px 0 0 0}
.navbar-brand span{line-height:42px;display: inline-block;}

.navbar-side {max-height: none;padding: 0;}
.navbar-side li+li,
.navbar-side ul li{border-top:1px dotted #ccc}
.navbar-side li a,
.navbar-side li span{display: block;margin: 0 0 -1px;padding:5px 0px;}

.navbar-side li span{font-weight: bold;color:#555}

.navbar-side li span,
.navbar-side li a{font-weight: bold;padding:5px 10px;color:#444}
.navbar-side li a{color:#000;text-decoration: underline}
.navbar-side ul li a{color:#007FCF;font-weight: normal;font-size:93%}
.navbar-side ul ul li a{font-size:90%;font-weight:500 !important;}

.navbar-side ul{list-style-type: none;padding:0}
.navbar-side ul{padding:0 0 0 10px;}
.navbar-side ul ul{padding:0 0 0 10px;}

.navbar-grad{height:20px;
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}


.top {padding:100px 0 70px 0}
.top h1{text-transform: uppercase;letter-spacing:.15em}

.form-control {background:transparent;border-color: #555;}
.input-group .btn {background: #333;color:#fff;border-color: #555;}

.breadcrumb{background: transparent;font-size: 85%;padding:0 0 10px 0;border-bottom:1px solid #eee;border-radius:0;}


#rtd-search-form {margin:14px 0;border:1px solid rgba(255,255,255,0.2);padding:0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#rtd-search-form input,
#rtd-search-form button{background: transparent;border: 0;color:#fff;}

@media (min-width:990px){
  .main{line-height: 1.5;font-size: 116%}
}

@media (max-width:767px){
.main img{width:100%;height: auto}

}


.info{padding:50px 0 50px 0}
.foot{font-size: 85%;color:#555;background:#111;padding:0px 0;clear:both}
.foot .note {	color:#555;padding:10px 0;margin:0px 0 0 0;border-top:1px solid #222;font-size: 85%;font-weight:bold; text-align: center;text-transform: uppercase;}


.cardano.logo a{text-decoration: none;}
.cardano.logo a span{font-family: 'Montserrat', sans-serif;text-transform: uppercase;color:#fff;font-size:160%;letter-spacing: .1em;display: inline-block;padding:0 0 0 10px}
.cardano.logo .supported_project {margin:-13px 0 0 53px;}
.cardano.logo .supported_project a{	color:#777;text-transform: uppercase;font-size: 80%}


.foot .grad{ height:30px;
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(17,17,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(17,17,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=0 );
}


.links {color:#333}
.links a{padding:0 10px;color:#eee}
.links a:hover{text-decoration: none}
.links.network a:hover{color:#00C3FF !important;}

.links.network{padding:0px 0 35px 0;font-size:120%;margin:10px 0 0 0;line-height: 1.5}

#foot {margin:50px 0 0 0}
#foot .footer{font-size:85%;font-weight:400;padding:30px 0 10px 0;}
#foot h4{font-size:150%;font-weight:500}

#foot hr{margin: 0 0 10px 0}
#foot .footer .links{margin:22px 0 0 0;}

#foot .iohk_qeditas_link{font-size:250%;color:#555;font-weight:200;letter-spacing:-.02em;text-decoration:none}
#foot .iohk_qeditas_link .red{color:#f00}
#foot .iohk_link img{margin:10px 0 0 0}

#foot .navbar-nav li a {padding:0px 10px 25px 10px;color:#555}


@media (max-width:768px){
#foot .navbar-nav li a{padding:0 0 5px 10px}
}
