html {  background:#FAFBFC}
body{background:#FAFBFC;color:#555;padding-top:0px;font:116%/1.3 'montserratlight', sans-serif;}
.none{display: none}
a{color:#CE851F;}


h1,h2,h3,h4,h5,h6{	font-family: 'montserratextralight', sans-serif;color:#444}
h1,h2{font-weight: 100}
h3{font-weight:200}
h1{letter-spacing:-.02em;margin:.08em 0 .38em 0;color:#000;line-height:1}
@media (min-width:990px){
  h1{font-size:350%;letter-spacing:-.04em;}
}

.language-haskell .n{color:#f00}
.language-haskell .kt{color:#00AEFF}
.language-haskell .o{color:#999}
.language-haskell .s{color:#3C9B14}



table{margin:20px 0}
table td,
table th{padding:6px 10px}
table td{border-top:1px solid #ddd}
table th+th,
table td+td{border-left:1px solid #eee}

a{outline: 0 !important;}
hr{border-color: #222}

.navbar {min-height:70px;background:transparent;margin:0;border:0;border-bottom:1px solid rgba(255,255,255,0.4);border-radius: 0 ;background-size:cover;   background-repeat: no-repeat;color:#fff;	font-weight:200;letter-spacing: 0.05em}
.navbar-brand {padding: 14px 15px;font-size: 11px;line-height:20px;font-weight:500}
.navbar-brand img{margin:-7px 0 0 0}
.navbar-brand span{line-height:42px;display: inline-block;}

.navbar-side {max-height: none;padding: 0;font-family: 'Montserrat', sans-serif;}
.navbar-side li+li,
.navbar-side ul li{border-top:1px dotted #ddd}
.navbar-side li a,
.navbar-side li span{display: block;margin: 0 0 -1px;padding:5px 0px;}

.navbar-side li span{color:#555}

.navbar-side li span,
.navbar-side li a{padding:8px;color:#444}
.navbar-side li a:hover{color:#000}
.navbar-side li a{color:#000;text-decoration: underline}
.navbar-side ul li a{color:#999;font-weight: normal;}
.navbar-side ul ul li a{font-size:90%;}

.navbar-side ul{list-style-type: none;padding:0}
.navbar-side ul{padding:0 0 0 10px;}
.navbar-side ul ul{padding:0 0 0 10px;}

.navbar-grad{height:2px;margin: 0 0 40px 0;
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

.navbar-form {padding:0px 0px;margin:17px 15px;border:1px solid rgba(255,255,255,0.3) !important;background:transparent;
-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
}
.navbar-form input,
.navbar-form input:focus{padding:8px 15px;border:0;color:#fff;
box-shadow:0 0 0 transparent;
-o-box-shadow:0 0 0 transparent;
-moz-box-shadow:0 0 0 transparent;
-webkit-box-shadow:0 0 0 transparent;
}
.navbar-form button{background:transparent;border:0;color:#fff}

.top {background: url('http://static.iohk.io/cardano/images/cardano-bg-3.jpg') no-repeat center;color:#fff}
.top .banner{padding:40px 0 50px 0;text-align:center}
.top h1{letter-spacing:0em;color:rgba(255,255,255,0.8);font-family: 'montserratlight', sans-serif;margin:0;font-weight: normal;line-height: 1.4;font-size:220%}
.top h1 span{display:block;font-size:55%;color:rgba(255,255,255,0.3)}

.form-control {background:transparent;border-color: #555;}
.input-group .btn {background: #333;color:#fff;border-color: #555;}

.breadcrumb{background: transparent;font-size: 85%;padding:0 0 10px 0;border-bottom:1px solid #eee;border-radius:0;}


#rtd-search-form {margin:14px 0;border:1px solid rgba(255,255,255,0.2);padding:0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#rtd-search-form input,
#rtd-search-form button{background: transparent;border: 0;color:#fff;}

@media (min-width:990px){
  .main{line-height: 1.5;font-size: 116%}
}

@media (max-width:767px){
.main img{width:100%;height: auto}

}



.cardano.logo a{text-decoration: none;}
.cardano.logo a img{margin:-5px 0 0 0}
.cardano.logo a span{font-family: 'Montserrat', sans-serif;text-transform: uppercase;color:#333;font-size:160%;letter-spacing: .1em;display: inline-block;padding:0 0 0 10px}
.cardano.logo .supported_project {margin:-10px 0 0 53px;}
.cardano.logo .supported_project a{	color:#777;text-transform: uppercase;font-size: 80%}

.top .cardano.logo a span{color:#fff;}

.info{padding:50px 0 50px 0}
.foot{font-size: 85%;color:#aaa;background:#0C1723;padding:0px 0;clear:both}
.foot .note {	color:#555;padding:10px 0;margin:0px 0 0 0;border-top:1px solid #222;font-size: 85%;font-weight:bold; text-align: center;text-transform: uppercase;}


.guide {background:#fff;padding: 30px 0 50px 0}
.guide h2{letter-spacing:-.025em;}
.guide ol{padding:0 17px !important}




.foot .logo a{text-decoration: none;}
.foot .logo a img{margin:-3px 0 0 0;}
.foot .logo a.cardano img{opacity:0.7;margin:-5px 0 0 0;}
.foot .logo a span{font-family: 'Montserrat', sans-serif;text-transform: uppercase;font-size:160%;letter-spacing: .1em;display: inline-block;padding:0 0 0 5px;color:#fff;}

.foot .logo a{	color:#aaa !important;text-transform: uppercase;}
.foot .logo .support{margin:0 5px 0 20px;font-size:90%}

.foot .logo .split{display:inline-block;background: #444;width:1px;height: 50px;margin:-31px 0 -25px 20px}



.foot .grad{ height:30px;
background: rgb(12,23,35); /* Old browsers background-size:cover; */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0C1723', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */;
}




.links {color:#aaa}
.links a{padding:0 10px;color:#eee}
.links a:hover{text-decoration: none}
.links.network a:hover{color:#00C3FF !important;}

.links.network{padding:0px 0 35px 0;font-size:120%;margin:10px 0 0 0;line-height: 1.5}

#foot {margin:100px 0 0 0}
#foot .footer{font-size:85%;font-weight:400;text-transform:uppercase;padding:45px 0 40px 0;}
#foot h4{font-size:150%;font-weight:500}

#foot hr{margin: 0 0 10px 0;border-color:#333 !important}
#foot .footer .links{margin:10px 0 0 0;}


#foot .navbar-nav li a {padding:0px 10px 25px 10px;color:#555}


@media (max-width:768px){
#foot .navbar-nav li a{padding:0 0 5px 10px}
}

@media (max-width:490px){
.foot .logo .split,
#foot .logo .iohk{display: none}
#foot .logo {text-align: center}
#foot .footer .links{margin:40px 0 0 0;text-align: center}
}


#search-results .search-result{margin: 0 0 5px 0;padding: 0 0 5px 0;border-top:1px solid #ddd}
#search-results .search-result .output span{background:#ff0;color:#222}







.nothing{}
