


html{background:#eee;}
body{background:#eee;color:#555; font-family: 'Roboto';font-weight:300}
body.io_globe_in{background-position:center -205px}

small{font-weight: 400}
.roboto{font-family: 'Roboto';text-transform: none}

code{padding:10px;background: #fff;margin:0 0 10px 0;display: block}




.entry{font-size:130%}
@media (min-width:992px){
  .entry{font-size:135%}
}

.nav-tabs {border:0;padding:0;list-style-type: none;}
.nav-tabs li{margin:0;}

.nav-tabs li+li{border-left:1px solid #222;line-height:1;margin-left:10px;padding:0 0 0 10px;}

.nav-tabs li,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus,
.nav-tabs li a:hover,
.nav-tabs li a:focus,
.nav-tabs li.active a,
.nav-tabs li a{border:0;line-height:1;text-decoration:none;background:transparent}

@media (max-width:992px){
.navbar.subnav {min-height:20px;}
}



.navbar{min-height:70px;margin: 0;}

.navbar-default .navbar-toggle {border-color: #999}
.navbar-default .navbar-toggle .icon-bar{background: #555}

#navbar a{ font-weight: 400; letter-spacing: 1px;}

#navbar .navbar-brand a{ font-weight:100;font-size:250%;letter-spacing:-.03em;text-shadow:0 1px 0px #fff;color:#f00  }

.navbar .navbar-nav li a { color: #444;}

.navbar-default{background:transparent;border:0}
.navbar-default a{color:#aaa}

.container .navbar-brand{margin:0 !important;}
.container .navbar-brand{padding:25px 0px 25px 0px;height:70px}

.nav > li > a:hover, .nav > li > a:focus {background-color: transparent;}

@media (min-width:768px){
#navbar #navhider a{padding:28px 10px;}
}

@media (min-width:992px){
#navbar #navhider a{padding:28px 15px;}
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@keyframes AnimationName {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}

#top{padding:2em;
  background: linear-gradient(308deg, #f71212, #1290f7);
 background-size: 100% 100%;

 -webkit-animation: AnimationName 18s ease infinite;
 -moz-animation: AnimationName 18s ease infinite;
 -o-animation: AnimationName 18s ease infinite;
 animation: AnimationName 18s ease infinite;


color:#fff;
}

#top h2{margin:.15em 0}


#main h3{font-size:130%;font-weight:300}

#foot .footer{font-size:85%;font-weight:400}
#foot h4{font-size:150%;font-weight:500}

#foot hr{margin: 0 0 10px 0}
#foot .links{margin:50px 0 0px 0}

#foot .iohk_qeditas_link{font-size:250%;color:#555;font-weight:200;letter-spacing:-.02em;text-decoration:none}
#foot .iohk_qeditas_link .red{color:#f00}
#foot .iohk_link img{margin:10px 0 0 0}

#foot .navbar-nav li a {padding:0px 10px 25px 10px;color:#555}


@media (max-width:768px){
#foot .navbar-nav li a{padding:0 0 5px 10px}
}
