html {  background:#FAFBFC}
body{background:#FAFBFC;color:#555;padding-top:0px;font:116%/1.3 'montserratlight', sans-serif;}
.none{display: none}
a{color:#CE851F;}


.header-link {
  position: absolute;
  left: -0.5em;
  opacity: 0;

  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}



h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', sans-serif;color:#333;padding:1em 0;margin:0}

.main h1,.main h2,.main h3,.main h4,.main h5,.main h6{font-family: 'Montserrat', sans-serif;color:#444;text-transform: uppercase}

.main h1{font-size: 120%;color:#CE8548}
.main h2{font-size: 110%;color:#888}
.main h3{font-size: 100%;}
.main h4{font-size: 100%;}
.main h5{font-size: 100%;}

h6{font-size: 100%;}

h1{font-weight:600}
h3{font-weight:200}
h1{letter-spacing:-.02em;margin:.08em 0 .38em 0;line-height:1}

code{font-family:Courier,"Courier New",monospace;}

pre{font-size:100%;background: #F3F6F9;padding:18px 20px;
-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;
border:0;
}

.language-haskell .n{color:#ec8c45;}
.language-haskell .kt{color:#269EB7;}
.language-haskell .o{color:#999}
.language-haskell .s{color:#3C9B14}



table{margin:20px 0}
table td,
table th{padding:6px 10px}
table td{border-top:1px solid #ddd}
table th+th,
table td+td{border-left:1px solid #eee}

a{outline: 0 !important;}
hr{border-color: #222}

.navbar {min-height:70px;background:transparent;margin:0;border:0;border-bottom:1px solid rgba(255,255,255,0.4);border-radius: 0 ;background-size:cover;   background-repeat: no-repeat;color:#fff;	font-weight:200;letter-spacing: 0.05em}
.navbar-brand {padding: 14px 15px;font-size: 11px;line-height:20px;font-weight:500;float:none;display:inline-block;margin:auto}
.navbar-brand img{opacity:0.7}
.navbar-brand span{line-height:42px;display: inline-block;}

.navbar-nav > li > a {padding-top:25px;padding-bottom:25px;letter-spacing:0;font-size:105%}

.navbar-inverse .navbar-nav > li > a {color:rgba(255,255,255,0.9);}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {color:rgba(255,255,255,0.6);background-color:rgba(255,255,255,0.1);}


@media (min-width:767px){
.navbar-header{width:100%;text-align: center;}
}

.navbar-side {max-height: none;padding: 0;font-family: 'Montserrat', sans-serif;}
.navbar-side li+li,
.navbar-side ul li{border-top:1px dotted #ddd}
.navbar-side li a,
.navbar-side li span{display: block;margin: 0 0 -1px;padding:5px 0px;}

.navbar-side li span{color:#555}

.navbar-side li span,
.navbar-side li a{padding:8px;color:#444}
.navbar-side li a:hover{color:#000}
.navbar-side li a{color:#000;text-decoration: underline}
.navbar-side ul li a{color:#999;font-weight: normal;}
.navbar-side ul ul li a{font-size:90%;}

.navbar-side ul{list-style-type: none;padding:0}
.navbar-side ul{padding:0 0 0 10px;}
.navbar-side ul ul{padding:0 0 0 10px;}

.navbar-grad{height:2px;margin: 0 0 40px 0;
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

.navbar-form {padding:0px 0px;margin:17px 15px;border:1px solid rgba(255,255,255,0.3) !important;background:transparent;
-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
}
.navbar-form input,
.navbar-form input:focus{padding:8px 15px;border:0;color:#fff;
box-shadow:0 0 0 transparent;
-o-box-shadow:0 0 0 transparent;
-moz-box-shadow:0 0 0 transparent;
-webkit-box-shadow:0 0 0 transparent;
}
.navbar-form button{background:transparent;border:0;color:#fff}

.form-control{color:#aaa;}


.top {background: url('//static.iohk.io/cardano/images/car-sky.jpg') no-repeat center;color:#fff;background-size:100% 150%;}
.top .banner{padding:38px 0 50px 0;text-align:center}
.top h1{letter-spacing:0em;color:rgba(255,255,255,0.9);font-family: 'montserratlight', sans-serif;margin:0;font-weight: normal;line-height: 1.4;font-size:220%}


.top .banner form{padding:30px 0 0 0}


.form-control {background:transparent;border-color:rgba(255,255,255,0.2);}
.input-group .btn {background:transparent;color:#fff;border-color:rgba(255,255,255,0.2);border-left:0}

.btn-lg,
.input-lg {
    height: 40px;
    padding: 10px 16px;
    font-size: 13px;
    line-height: 1.33;
    border-radius:2px;
}
.top .banner form .input-lg{border-right:0}
.top .banner form .btn-lg{color:rgba(255,255,255,0.4)}

.breadcrumb{background: transparent;font-size: 85%;padding:0 0 10px 0;border-bottom:1px solid #eee;border-radius:0;}


#rtd-search-form {margin:14px 0;border:1px solid rgba(255,255,255,0.2);padding:0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#rtd-search-form input,
#rtd-search-form button{background: transparent;border: 0;color:#fff;}

@media (min-width:990px){
  .main{line-height: 1.5;font-size: 116%}
}

@media (max-width:767px){
.main img{width:100%;height: auto}

}



.cardano.logo a{text-decoration: none;}
.cardano.logo a img{margin:-2px  0;}
.cardano.logo a span{font-family: 'Montserrat', sans-serif;text-transform: uppercase;color:#333;font-size:160%;letter-spacing: .1em;display: inline-block;padding:0 0 0 10px}
.cardano.logo .supported_project {margin:-10px 0 0 53px;}
.cardano.logo .supported_project a{	color:#777;text-transform: uppercase;font-size: 80%}

.top .cardano.logo a span{color:#fff;}

.info{padding:50px 0 50px 0}


.foot{font-size: 93%;color:#aaa;padding:0px 0;clear:both;margin:100px 0 0 0;
background: rgb(11,19,31); /* Old browsers */
background: -moz-linear-gradient(top, rgba(11,19,31,1) 0%, rgba(10,30,43,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(11,19,31,1) 0%,rgba(10,30,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(11,19,31,1) 0%,rgba(10,30,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b131f', endColorstr='#0a1e2b',GradientType=0 );
}
.foot .note {	color:#555;padding:10px 0;margin:0px 0 0 0;border-top:1px solid #222;font-size: 85%;font-weight:bold; text-align: center;text-transform: uppercase;}


.guide {background:#fff;padding: 30px 0 50px 0}
.guide h2{letter-spacing:-.025em;}
.guide ol{padding:0 17px !important}



.foot .links {padding:40px 0 45px 0;}

.foot .links b{color:#fff;font-size:108%;font-weight: normal;display: block;margin: 12px 0}
.foot .links ul{padding:0;list-style-type: none}
.foot .links ul li{margin:5px 0}
.foot .links a{color:#fcfcfc;opacity:.5}
.foot .links a:hover{text-decoration: none}



.foot .footer{font-size:85%;font-weight:400;text-transform:uppercase;padding:15px 0 25px 0;}
.foot hr{margin: 0 0 10px 0;border-color:#fcfcfc;opacity: 0.3;}

.foot .logo a{text-decoration: none;}
.foot .logo a img{margin:-3px 0 0 0;}
.foot .logo a{	color:#fcfcfc;opacity: 0.7;}
.foot .logo .support{margin:0 5px 0 20px;font-size:90%}
.foot .logo .split{display:inline-block;background: #f9f9f9;opacity: 0.2;width:1px;height:30px;margin:0 0 -12px 20px}




@media (max-width:490px){
.foot .logo .split,
#foot .logo .iohk{display: none}
#foot .logo {text-align: center}
#foot .footer .links{margin:40px 0 0 0;text-align: center}
}


#search-results .search-result{margin: 0 0 5px 0;padding: 0 0 5px 0;border-top:1px solid #ddd}
#search-results .search-result .output span{background:#ff0;color:#222}







.nothing{}
