#middlerow{ padding-top: 50px}

.col-sm-8{ width: 66.6666%; float: left;}
.col-sm-7{ width: 58%; float: left;}
.col-sm-6{ width: 50%; float: left;}
.col-sm-5{ width: 20%; float: left;}
.col-sm-4{ width: 25%; float: left;}
.col-sm-3{ width: 33%; float: left;}
.col-sm-2{ width: 16.6666%; float: left;}

.col-md-8{ width: 66.6666%; float: left;}
.col-md-7{ width: 58%; float: left;}
.col-md-6{ width: 50%; float: left;}
.col-md-5{ width: 20% !important; float: left;}
.col-md-4{ width: 25% !important; float: left;}
.col-md-3{ width: 33% !important; float: left;}
.col-md-2{ width: 16.6666%; float: left;}

.col-lg-8{ width: 66.6666%; float: left;}
.col-lg-7{ width: 58%; float: left;}
.col-lg-6{ width: 50% !important; float: left;}
.col-lg-5{ width: 20% !important; float: left;}
.col-lg-4{ width: 25% !important; float: left;}
.col-lg-3{ width: 33% !important; float: left;}
.col-lg-2{ width: 16.6666%; float: left;}

.profile.col-md-3.col-sm-4{ width: 24.5% !important; float: left;}

html.js .about #io_load .entry h2{position:static;width:100%;z-index: 28;border-top:2px solid #f00;font-weight:300;letter-spacing:.1em; margin:20px 0 10px 0;padding: 0;text-transform:uppercase;font-size:115%}


.img-circle{-moz-border-radius:200px;-webkit-border-radius: 200px;border-radius: 200px;}


form label{display: block !important}